.app-header {
  position: relative;
  z-index: 12;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}
.app-header nav ul.header-links-container {
  display: flex;
  gap: 30px;
  list-style: none;
  transition: transform 0.3s linear;
}
.app-header nav ul.header-links-container a {
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .app-header nav ul.header-links-container a {
    font-size: clamp(24px, 50vw, 34px);
  }
}
.app-header nav ul.header-links-container a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #f13900;
  display: block;
  position: absolute;
  transition: 0.2s;
}
.app-header nav ul.header-links-container a:hover::after {
  width: 100%;
}
.app-header nav ul.header-links-container a.activeRoute::after {
  width: 100%;
}
.app-header .logo-link svg {
  width: 200px;
}
.app-header .logo-link svg path {
  transition: fill 0.2s;
}
.app-header .logo-link:hover svg path {
  fill: #f13900;
}
.app-header .header-hamburger-btn {
  width: 34px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  .app-header .header-hamburger-btn {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .app-header .header-hamburger-btn {
    display: none;
  }
}
.app-header .header-hamburger-btn span {
  width: 80%;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 50px;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  ul.header-links-container {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-color: black;
    transform-origin: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6%;
    left: 100%;
    transform: translateX(100%);
  }
  ul.header-links-container-open {
    transform: translateX(-100%);
  }
  .app-header:has(.header-links-container-open) .header-hamburger-btn span:last-of-type {
    opacity: 0;
    height: 0;
  }
  .app-header:has(.header-links-container-open) .header-hamburger-btn span:nth-of-type(1) {
    transform: rotate(45deg) translateY(5px) translateX(5px);
  }
  .app-header:has(.header-links-container-open) .header-hamburger-btn span:nth-of-type(2) {
    transform: rotate(-45deg) translateY(0px) translateX(0px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}

.gap-10 {
  gap: 10px;
}

body {
  background-color: black;
}

.fixed-main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  background-color: rgb(0, 0, 0);
}

.swiper {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  color: white;
  font-size: 50px;
}
.swiper-slide figure {
  position: relative;
}
.swiper-slide figcaption {
  position: fixed;
  z-index: 10;
  top: 50px;
  left: 50px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0%;
  padding-left: 32px;
  transform: translateY(-50%);
  transition: opacity 2s 1s ease;
  opacity: 1;
}
@media screen and (max-width: 360px) {
  .swiper-slide figcaption {
    left: -5%;
  }
}
.swiper-slide figcaption h2 a {
  background: transparent;
  font-size: clamp(35px, 7vw, 120px);
  -webkit-text-stroke: 2px white;
  text-wrap: wrap;
  color: transparent;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s;
  letter-spacing: 2px;
}
.swiper-slide figcaption h2:hover a {
  -webkit-text-stroke-color: #f13900;
  color: #f13900;
}
.swiper-slide figcaption .slide-collab {
  font-size: clamp(13px, 2vw, 20px);
  font-weight: 700;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
}
.swiper-slide video {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100dvh;
  cursor: grab;
}
.swiper-slide video:active {
  cursor: grabbing;
}

.admin_projects {
  margin-top: 20px;
  padding-inline: 50px;
}
.admin_projects .hidden {
  display: none;
}

.admin_projects_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.admin_projects_container a {
  padding: 10px 5px;
  border-radius: 10px;
  min-width: 100px;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  border: 1px solid black;
  background-color: black;
  font-size: 18px;
  text-decoration: none;
  color: rgb(245, 245, 245);
  padding: 12px 18px;
  position: relative;
}
.admin_projects_container a::after {
  content: attr(data-position);
  position: absolute;
  left: 10px;
  top: 1px;
  font-size: 12px;
  font-weight: bold;
}
.admin_projects_container a[data-isActive=""] {
  opacity: 30%;
}

.admin-gallery {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 20px;
  justify-content: center;
}
.admin-gallery div.image-selected {
  outline: 5px solid #f13900;
  position: relative;
}
.admin-gallery div.image-selected::after {
  content: attr(data-description);
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(179, 94, 38, 0.3568627451);
  overflow-wrap: break-word;
  font-size: 12px;
}
.admin-gallery-mod-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  padding: 10px 15px;
  color: #fff;
  background-color: #f13900;
  margin-bottom: 50px;
}
.admin-gallery .hidden {
  display: none;
}
.admin-gallery img {
  position: relative;
  display: grid;
  cursor: grab;
}
.admin-gallery img:active {
  cursor: grabbing;
}

.delete-button {
  padding: 3px 15px;
  margin-top: 5px;
  background-color: red;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  appearance: none;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

body:has(.admin-page) {
  background-color: white;
}
body:has(.admin-page) header {
  background-color: black;
}
body:has(.admin-page) label {
  font-weight: bold;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
  align-items: center;
}

.admin-home-link {
  border: 1px solid rgb(0, 0, 0);
  padding: 8px 10px;
  margin-top: 50px;
  border-radius: 8px;
  font-size: 1.5rem;
  color: rgb(5, 5, 5);
  width: 200px;
  text-align: center;
}
.admin-home-link:hover {
  color: orangered;
  background-color: rgba(240, 248, 255, 0.123);
  font-weight: bold;
}

.admin-page .hidden {
  display: none;
}

.admin-form-page {
  margin-top: 20px;
  padding-inline: 50px;
}
.admin-form-page .delete-btn-container {
  display: flex;
  justify-content: end;
}
.admin-form-page .delete-btn-container button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

form[name=new_project] {
  margin-top: 10px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form[name=new_project] fieldset {
  border: none;
  margin-top: 30px;
}
form[name=new_project] fieldset legend {
  font-size: 30px;
  font-weight: bold;
}
form[name=new_project] div.mb-3 {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
form[name=new_project] div.mb-3 input[type=text] {
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
}
form[name=new_project] button {
  align-self: baseline;
  cursor: pointer;
}
form[name=new_project] .new_staff_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form[name=new_project] .new_staff_container input {
  height: 30px;
  padding-left: 5px;
}
form[name=new_project] button.add_staff {
  font-size: large;
  padding: 10px 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid black;
  border-radius: 5px;
}
form[name=new_project] input[type=submit] {
  height: 30px;
  background-color: black;
  color: aliceblue;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  border-radius: 5px;
  margin-top: 30px;
}
form[name=new_project] img {
  width: 250px;
  height: 100%;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light, .image-desc-container p, .admin-gallery-add-desc form textarea, .privacy, .cookie-banner .cookie-banner-text, .about .about-desc, .about .about-contact-desc, .services-email, .services .cards-list .card-container button .card-back ul li, .services h2, .backButton, .gallery-images .show-gallery .show-gallery-btn, .single-project .madeBy li, .single-project .project-staff li, .single-project-fixed-btn, .app-header, body:has(.admin-page) {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium, .cookie-action-btn, .cookie-banner .cookie-banner-text-title, main.page-error p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold, .admin-services-container a, .admin-logs .admin-logs-date, .admin-logs .admin-logs-levelName {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold, .video-blocker .isShort-text, .video-blocker .youtube-label, .video-blocker .video-title, .about .about-contact-container a, .about .about-person-container .person-text, main.page-error h1, .services .cards-list .card-container button .card-back h5, .services .cards-list .card-container button .card-front h4, .services h3, .services ul.services-cards-projects-section li a, h1.bigTitle, h2.bigTitle, .gallery-images .show-gallery .show-gallery-exit, .gallery-list li a, .single-project .project-staff div h3, .single-project .madeBy h2, .single-project .project-staff h2, .swiper-slide figcaption .slide-collab {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black, .single-project h1, .swiper-slide figcaption h2 a {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.single-project {
  position: relative;
  margin-top: 50px;
}
.single-project ul {
  list-style: none;
}
.single-project-fixed-btn {
  color: #fff;
  font-size: 35px;
  width: 60px;
  height: 60px;
  display: block;
  text-decoration: none;
  position: fixed;
  top: 50%;
  text-align: center;
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
}
@media screen and (max-width: 1250px) {
  .single-project-fixed-btn {
    top: -45px;
    opacity: 1;
    position: absolute;
    right: 0%;
  }
}
.single-project-fixed-btn:hover {
  opacity: 1;
  transform: scale(1.2);
}
.single-project-nextBtn {
  right: 2%;
}
.single-project-prevBtn {
  left: 2%;
}
.single-project video {
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}
.single-project h1 {
  font-size: 2.3rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  color: #fff;
}
.single-project .madeBy, .single-project .project-staff {
  text-align: center;
  color: #fff;
}
.single-project .madeBy h2, .single-project .project-staff h2 {
  font-size: 1.4rem;
  margin-top: 25px;
}
.single-project .madeBy li, .single-project .project-staff li {
  text-transform: uppercase;
  font-size: 16px;
  margin-block: 5px;
}
.single-project .ytb-video-container {
  position: relative;
  z-index: 1;
  margin: 60px auto 90px auto;
  width: 1040px;
  background-color: black;
  border: 1px solid black;
  max-width: 90vw;
  max-height: min(50vw, 600px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 600px;
}
.single-project .ytb-video-container-no-cookie {
  display: block;
}
.single-project .ytb-video-container-no-cookie .video-blocker {
  width: 100%;
  height: 100%;
}
.single-project .ytb-video-container iframe {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin: auto;
  overflow: hidden;
  border: none;
  background-position: 50% 50%;
}
.single-project .production__show-assets {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  transform: rotate(180deg) scale(0.8);
  border: 2px solid #ffffff;
}
.single-project .production__show-assets span {
  width: 20px;
  height: 3px;
  display: block;
  margin-top: 20px;
  position: relative;
  transform: rotate(-45deg) translate(10px) translateY(-5px);
  background-color: #fff;
  transition: all 0.5s;
}
.single-project .production__show-assets span:last-child {
  transform: rotate(-135deg) translate(10px) translateY(5px);
}
.single-project .production__show-assets__on {
  transform: rotate(0deg) scale(0.8);
  border-color: #f13900;
}
.single-project .production__show-assets__on span {
  background-color: #f13900;
}
.single-project .project-assets {
  transition: height 2s;
}
.single-project .project-assets-hidden {
  animation: close 0.4s forwards;
}
.single-project .project-images {
  display: grid;
  justify-content: center;
  grid-template-columns: 500px 500px;
  gap: 40px;
  margin-top: 20px;
}
@media screen and (max-width: 1024px) {
  .single-project .project-images {
    gap: 15px;
  }
}
.single-project .project-images img {
  width: 500px;
}
@media screen and (max-width: 1024px) {
  .single-project .project-images img {
    max-width: 500px;
    margin: auto;
    width: 80%;
  }
}
@media screen and (max-width: 1070px) {
  .single-project .project-images {
    grid-template-columns: 100%;
  }
}
.single-project .project-staff {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 80vw;
}
.single-project .project-staff div {
  flex-basis: calc(30% - 20px);
  flex-basis: 400px;
  margin-bottom: 20px;
}
.single-project .project-staff div h3 {
  font-size: 1.4rem;
  margin-top: 25px;
}
.single-project .project-staff ul {
  list-style: none;
}

@keyframes close {
  100% {
    height: 0;
    overflow: hidden;
  }
}
.admin-galleries {
  padding-inline: 50px;
  margin-top: 30px;
}
.admin-galleries-create {
  text-align: end;
}
.admin-galleries img {
  cursor: grab;
}
.admin-galleries img:active {
  cursor: grabbing;
}

.form-newGallery {
  padding: 50px;
}

.admin-newGallery .newGallery-img {
  display: block;
}
.admin-newGallery .newGallery-img-hidden {
  display: none;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
form input {
  max-width: 600px;
  height: 30px;
  padding-left: 5px;
}
form .form-check {
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
form .form-check input {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
form input[type=submit] {
  height: 30px;
  background-color: black;
  color: aliceblue;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  margin-top: 30px;
  border-radius: 5px;
  display: block;
}
form .delete-btn {
  background-color: red;
  color: #fff;
  font-size: 18px;
  padding: 3px 15px;
  border-radius: 5px;
  cursor: pointer;
}
form .invalid-feedback {
  color: red;
}
form .is-invalid {
  outline: 1px solid red;
}
form select {
  max-width: 600px;
  height: 30px;
}

.admin-all-galleries-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
}

.admin-gallery-container {
  gap: 20px;
}
.admin-gallery-container .gallery-name {
  font-weight: bold;
  color: #f13900;
  text-transform: capitalize;
}
.admin-gallery-container .gallery-edit-btn {
  margin-top: 5px;
  display: block;
  color: grey;
}
.admin-gallery-container img {
  aspect-ratio: 1/2;
  border-radius: 5px;
}

.admin-galleries {
  margin-block: 40px;
}

.admin-gallery-add {
  padding-inline: 50px;
  margin-top: 50px;
}
.admin-gallery-add .gallery-images-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 20px;
}
.admin-gallery-add form {
  margin-top: 30px;
}
.admin-gallery-add form div {
  display: flex;
  flex-direction: row;
}

.gallery-images-header {
  display: flex;
  margin-top: 50px;
  padding-inline: 50px;
  justify-content: space-between;
}
.gallery-images-header .add-imgs-btn a {
  color: #f13900;
  font-weight: bold;
}

.admin-page {
  padding-inline: 50px;
  margin-top: 50px;
}
.admin-page .admin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.admin-page .admin-header.justify-right {
  justify-content: right;
}

.gallery-list {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 24px;
  margin-top: 3%;
}
@media screen and (max-width: 1308px) {
  .gallery-list {
    grid-template-columns: repeat(2, 1fr);
    width: 80vw;
    margin: auto;
    gap: 40px;
  }
}
@media screen and (max-width: 687px) {
  .gallery-list {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 7%;
  }
}
.gallery-list li {
  transition: all 0.2s ease-in-out;
  list-style: none;
}
.gallery-list li:hover {
  transform: scale(1.04);
}
.gallery-list li:hover a {
  color: #f13900;
}
.gallery-list li img {
  border-radius: 30px;
  width: 100%;
  width: 300px;
  height: 420px;
  aspect-ratio: 1/2;
}
@media screen and (max-width: 500px) {
  .gallery-list li img {
    width: 95%;
    height: 85vw;
  }
}
.gallery-list li a {
  text-decoration: none;
  color: #fff;
  font-size: min(2.4rem, 8vw);
}

.gallery-images {
  padding: 0 24px 24px;
}
.gallery-images .image-list {
  display: grid;
  justify-content: center;
  gap: 18px;
  grid-template-columns: repeat(4, clamp(230px, 22vw, 360px));
}
@media screen and (max-width: 1024px) {
  .gallery-images .image-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.gallery-images .image-list img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  animation: fadein 1s linear;
  border-radius: 4px;
  max-width: 360px;
  height: clamp(250px, 30vw, 546px);
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .gallery-images .image-list img {
    width: 100%;
    height: 100%;
    max-width: none;
    aspect-ratio: 1/1.5;
  }
}
.gallery-images .show-gallery {
  display: none;
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100;
}
.gallery-images .show-gallery-on {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.gallery-images .show-gallery-on img {
  aspect-ratio: 1/2;
}
.gallery-images .show-gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 500px;
}
.gallery-images .show-gallery .show-gallery-btn {
  color: #fff;
  position: absolute;
  top: 50%;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  border: 3px solid #fff;
  width: 30px;
  height: 30px;
  background: transparent;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.gallery-images .show-gallery .show-gallery-btn:hover {
  background-color: #fff;
  color: #000000;
  font-weight: 600;
}
.gallery-images .show-gallery .show-gallery-btn-right {
  right: 2%;
}
.gallery-images .show-gallery .show-gallery-btn-left {
  left: 2%;
}
.gallery-images .show-gallery .show-gallery-exit {
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: medium;
  width: 20px;
  border: none;
  height: 20px;
  cursor: pointer;
  border-radius: 25px;
  line-height: 0;
  transform: scale(1.2);
}

body:has(.show-gallery-on) {
  height: 100vh;
  overflow: hidden;
}

.backButton {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 13.33px;
  font-weight: 400;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 40px;
}

h2.bigTitle {
  color: #fff;
  font-size: clamp(3rem, 10vw, 8rem);
  padding: 0;
  margin: 0 0 50px;
  line-height: 0.8;
  position: relative;
  display: flex;
  align-items: flex-end;
}

h1.bigTitle {
  color: #fff;
  font-size: clamp(3rem, 10vw, 8rem);
  padding: 0;
  margin: 0 0 50px;
  line-height: 0.8;
  position: relative;
  display: flex;
  align-items: flex-end;
}
h1.bigTitle .title2 {
  font-size: 0.3em;
  margin: 0 0 0 10px;
}

@media screen and (max-width: 1024px) {
  .title-mobile-center h1, .title-mobile-center h2 {
    text-align: center;
    display: block;
    margin-top: 20px;
  }
}

.main-padding {
  padding: 0 32px;
}

.services h2 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .services h2 {
    text-align: center;
  }
}
.services ul.services-cards-projects-section {
  list-style: none;
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 50px;
  margin-top: 30px;
  place-items: center;
  margin-bottom: 60px;
}
@media screen and (max-width: 1024px) {
  .services ul.services-cards-projects-section {
    display: flex;
    flex-direction: column;
  }
}
.services ul.services-cards-projects-section li {
  max-width: 850px;
  border-radius: 30px;
  border: 3px solid white;
  height: clamp(300px, 20vw, 400px);
  width: 100%;
  transition: all 0.2s ease-in-out;
  color: #fff;
  position: relative;
}
.services ul.services-cards-projects-section li svg {
  position: absolute;
}
.services ul.services-cards-projects-section li svg.left-top {
  left: 4%;
  transform: rotate(-25deg) scale(1);
  top: 20px;
}
.services ul.services-cards-projects-section li svg.right-top {
  top: 10px;
  right: 2%;
  transform: rotateY(180deg) rotateZ(-25deg) scale(1);
}
.services ul.services-cards-projects-section li svg.left-down {
  left: 2%;
  top: 5px;
  transform: rotate(0) scale(1);
}
.services ul.services-cards-projects-section li svg.right-down {
  top: 20px;
  right: 6%;
  transform: rotateY(180deg) rotateZ(-25deg) scale(1);
}
.services ul.services-cards-projects-section li svg.left-rotate-0 {
  transform: rotate(0deg) scale(1);
}
@media screen and (max-width: 1024px) {
  .services ul.services-cards-projects-section li svg {
    scale: 0.8;
  }
}
@media screen and (max-width: 550px) {
  .services ul.services-cards-projects-section li svg.left-top, .services ul.services-cards-projects-section li svg.left-down {
    scale: 0.6;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 550px) {
  .services ul.services-cards-projects-section li svg.right-top {
    scale: 0.6;
    top: 0;
    right: 0;
  }
}
@media screen and (max-width: 550px) {
  .services ul.services-cards-projects-section li svg.right-down {
    scale: 0.6;
    top: 10px;
    right: 0;
  }
}
@media screen and (max-width: 1024px) {
  .services ul.services-cards-projects-section li {
    max-width: clamp(300px, 80vw, 480px);
    height: clamp(150px, 50vw, 282px);
    min-width: clamp(300px, 80vw, 480px);
    min-height: clamp(200px, 50vw, 282px);
  }
}
.services ul.services-cards-projects-section li a {
  font-size: clamp(16px, 3.5vw, 4rem);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  width: 100%;
  margin: auto;
  color: #fff;
  transition: color 0.3s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .services ul.services-cards-projects-section li a {
    font-size: clamp(16px, 5.5vw, 45px);
  }
}
.services ul.services-cards-projects-section li:hover {
  box-shadow: 0px 0px 30px #fff;
}
.services ul.services-cards-projects-section li:hover a {
  color: #f13900;
}
.services h3 {
  font-size: 24px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .services h3 {
    text-align: center;
  }
}
.services .cards-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
@media screen and (max-width: 1024px) {
  .services .cards-list {
    flex-direction: column;
  }
}
.services .cards-list .card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 1024px) {
  .services .cards-list .card-container {
    flex-direction: column;
  }
}
.services .cards-list .card-container:not(:last-child)::after {
  content: "";
  font-size: 4em;
  position: relative;
  background-color: #fff;
  width: 40px;
  height: 40px;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  transform: rotate(-90deg);
}
@media screen and (max-width: 1024px) {
  .services .cards-list .card-container:not(:last-child)::after {
    transform: rotate(0deg);
  }
}
.services .cards-list .card-container button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  height: 192px;
  width: 240px;
}
.services .cards-list .card-container button:focus h4 {
  color: #f13900;
}
@media screen and (max-width: 1180px) {
  .services .cards-list .card-container button {
    width: 200px;
    height: 152px;
  }
}
@media screen and (max-width: 1024px) {
  .services .cards-list .card-container button {
    height: 192px;
    width: 240px;
  }
}
.services .cards-list .card-container button .card-flipper {
  height: 100%;
  perspective: 1000px;
  position: relative;
}
.services .cards-list .card-container button .card-front {
  backface-visibility: hidden;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: 1s;
  width: 100%;
  z-index: 2;
  height: 100%;
  background-color: #fff;
  border: 3px solid #ffffff;
  border-radius: 30px;
  display: grid;
  place-items: center;
}
.services .cards-list .card-container button .card-front:hover h4 {
  color: #f13900;
}
.services .cards-list .card-container button .card-front h4 {
  transition: color 0.3s;
  font-size: clamp(20px, 1.5vw, 24px);
}
@media screen and (max-width: 1024px) {
  .services .cards-list .card-container button .card-front h4 {
    font-size: 24px;
  }
}
.services .cards-list .card-container button .card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: 1s;
  width: 100%;
  z-index: 2;
  height: 100%;
  border: 3px solid #ffffff;
  border-radius: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.services .cards-list .card-container button .card-back ul {
  list-style: none;
}
.services .cards-list .card-container button .card-back ul li {
  font-size: 16px;
  font-size: clamp(13px, 1.2vw, 16px);
}
@media screen and (max-width: 1024px) {
  .services .cards-list .card-container button .card-back ul li {
    font-size: 16px;
  }
}
.services .cards-list .card-container button .card-back h5 {
  font-size: 17px;
  font-size: clamp(13px, 1.2vw, 17px);
}
@media screen and (max-width: 1024px) {
  .services .cards-list .card-container button .card-back h5 {
    font-size: 17px;
  }
}
.services .cards-list .card-container button.card-btn-on .card-front {
  transform: rotateY(-180deg);
  position: relative;
}
.services .cards-list .card-container button.card-btn-on .card-back {
  transform: rotateY(0deg);
  position: absolute;
  z-index: 1;
}
.services-email {
  color: #fff;
  text-align: center;
  margin: 60px auto 40px auto;
  display: block;
  transition: 0.3s;
  width: -moz-fit-content;
  width: fit-content;
}
.services-email:hover, .services-email:focus {
  text-decoration-color: #f13900;
  color: #f13900;
}

h1.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
  color: #fff;
}

main.page-error {
  color: #fff;
  padding: 24px;
}
main.page-error h1 {
  font-size: 32px;
  text-align: center;
}
main.page-error p {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}
main.page-error a {
  color: #f13900;
}

.alert {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  font-size: 16px;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  background-color: rgba(0, 0, 0, 0.11);
  z-index: 101;
  gap: 10px;
  color: #fff;
  animation: show 7s ease-in-out;
  animation-play-state: paused;
}
.alert-error {
  background-color: #cc0000;
  padding: 10px;
  border: 1px solid black;
}
.alert-success {
  background-color: green;
  padding: 10px;
  border: 1px solid black;
}
.alert-on {
  animation-play-state: running;
}
.alert:has(.alert-error, .alert-success) {
  animation-play-state: running;
}

@keyframes show {
  5%, 100% {
    transform: translateY(0%);
  }
  100% {
    animation-play-state: paused;
  }
}
.admin-logs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.admin-logs .admin-logs-messages-container > p:nth-of-type(odd) {
  background: rgb(255, 255, 255);
}
.admin-logs .admin-logs-messages-container > p:nth-of-type(even) {
  background: rgb(223, 222, 222);
}
.admin-logs p {
  border: 1px solid black;
  padding: 5px;
}
.admin-logs .admin-logs-levelName {
  color: red;
}
.admin-logs .admin-logs-date {
  color: rgb(80, 80, 226);
}

.text-center {
  text-align: center;
}

.font-large {
  font-size: large;
}

.block {
  display: block;
}

.text-primary {
  color: #f13900;
}

:has(.line-bottom)::after {
  content: "";
  width: 100vw;
  height: 2px;
  background-color: black;
  margin-top: 20px;
}

.about {
  margin-bottom: 50px;
}
.about h1 {
  margin-top: 5px;
}
.about h2.bigTitle {
  margin-bottom: 15px;
}
.about .about-contact-desc-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 50px;
}
.about .about-desc, .about .about-contact-desc {
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  color: #fff;
  margin-bottom: 35px;
}
@media screen and (max-width: 1024px) {
  .about .about-desc, .about .about-contact-desc {
    padding: 10px 0 30px;
    text-align: center;
  }
}
.about .about-contact-desc {
  font-size: clamp(14px, 2vw, 18px);
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .about .about-contact-desc {
    padding: 0;
  }
}
.about-person-cards {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-bottom: 50px;
}
.about .about-person-container {
  border: 3px solid #fff;
  height: clamp(300px, 23vw, 400px);
  transition: background-color 0.3s;
  border-radius: 15px;
  width: 100%;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .about .about-person-container {
    display: none;
  }
}
.about .about-person-container a {
  text-decoration: none;
}
.about .about-person-container .about-person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 32px;
}
@media screen and (max-width: 1024px) {
  .about .about-person-container .about-person {
    flex-direction: column;
  }
}
.about .about-person-container .about-person img {
  border-radius: 50%;
  width: clamp(230px, 20vw, 330px);
  height: clamp(230px, 20vw, 330px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0%;
     object-position: 0 0%;
}
.about .about-person-container .person-text {
  color: #fff;
  transition: color 0.3s;
}
.about .about-person-container .person-name {
  font-size: clamp(4em, 6.5vw, 8em);
  color: #fff;
  margin-bottom: 20px;
}
.about .about-person-container pre {
  font-size: clamp(1em, 1.8vw, 2.1em);
  text-align: end;
}
.about .about-person-container:hover {
  background-color: #fff;
}
.about .about-person-container:hover .person-text {
  color: #f13900;
}
.about .about-person-container-reverse .about-person {
  flex-direction: row-reverse;
}
.about .about-person-container-reverse .about-person pre {
  text-align: start;
}
.about .about-person-container .person-job-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  font-size: clamp(1em, 1.8vw, 2.1em);
}
@media screen and (max-width: 1024px) {
  .about .about-person-container .person-job-list {
    flex-direction: column;
  }
}
.about .about-contact-container ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .about .about-contact-container ul {
    flex-direction: column;
  }
}
.about .about-contact-container li {
  list-style: none;
  border: 3px solid #fff;
  border-radius: 50px;
  width: 350px;
  transition: background 0.3s;
  transform: scale(0.9);
}
@media screen and (max-width: 500px) {
  .about .about-contact-container li {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 1024px) {
  .about .about-contact-container li {
    width: 300px;
  }
}
.about .about-contact-container li svg.stroke-change-on-hover path, .about .about-contact-container li svg rect, .about .about-contact-container li svg circle {
  transition: all 0.3s;
}
.about .about-contact-container li:hover {
  background: #fff;
}
.about .about-contact-container li:hover a {
  color: #f13900;
}
.about .about-contact-container li:hover svg.stroke-change-on-hover path, .about .about-contact-container li:hover svg rect, .about .about-contact-container li:hover svg circle {
  stroke: #f13900;
}
.about .about-contact-container li:hover svg.linkedin-svg path {
  fill: #f13900;
}
.about .about-contact-container a {
  width: 100%;
  height: 100%;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  transition: color 0.3s;
}
@media screen and (max-width: 1024px) {
  .about .about-contact-container a {
    justify-content: space-between;
    text-align: center;
  }
}

body {
  max-width: 1920px;
  margin: auto;
}

.single-services {
  margin-bottom: 50px;
}
.single-services .videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 70px 12px;
}
@media screen and (max-width: 1024px) {
  .single-services .videos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}
@media screen and (max-width: 768px) {
  .single-services .videos-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.single-services .videos-container-odd::after {
  content: "";
  width: clamp(20vw, 50vw, 49%);
  height: 0;
}

.video-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 20px;
  padding: 20px;
}

.video-blocker {
  position: relative;
  width: clamp(20vw, 50vw, 49%);
  height: clamp(100px, 30vw, 500px);
  background-color: #000000;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  font-family: sans-serif;
}
@media screen and (max-width: 1024px) {
  .video-blocker {
    width: 100%;
    height: clamp(100px, 50vw, 250px);
  }
}
.video-blocker-short {
  width: clamp(10%, 50vw, 23.8%);
  height: clamp(150px, 18vw, 260px);
}
@media (480px <= width <= 768px) {
  .video-blocker-short {
    width: 100%;
    height: clamp(100px, 30vw, 250px);
  }
}
@media screen and (max-width: 1024px) {
  .video-blocker-short {
    width: 100%;
    height: clamp(100px, 50vw, 250px);
  }
}
@media (480px <= width <= 768px) {
  .video-blocker {
    width: 100%;
    height: clamp(100px, 50vw, 380px);
  }
}

.video-blocker .video-cover {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-blocker .video-title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 14px;
  box-sizing: border-box;
}
@media (767px < width < 860px) {
  .video-blocker .video-title-wrapper {
    top: 5%;
  }
}
@media (859px < width < 919px) {
  .video-blocker .video-title-wrapper {
    top: 2%;
  }
}
@media (918px < width < 1024px) {
  .video-blocker .video-title-wrapper {
    top: 0%;
  }
}
@media (1023px < width < 1690px) {
  .video-blocker .video-title-wrapper {
    top: 4%;
  }
}
@media (1689px < width < 1735px) {
  .video-blocker .video-title-wrapper {
    top: 3%;
  }
}
@media screen and (width > 1734px) and (width < 1850px) {
  .video-blocker .video-title-wrapper {
    top: 0.2vw;
  }
}
@media screen and (width > 1850) {
  .video-blocker .video-title-wrapper {
    top: 0;
  }
}

.video-blocker .video-title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  text-transform: uppercase;
}

.video-blocker .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68px;
  height: 48px;
  background-color: #ff0000;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.video-blocker-short .video-title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 14px;
  box-sizing: border-box;
  height: -moz-fit-content;
  height: fit-content;
}

.video-blocker .youtube-label {
  position: absolute;
  bottom: 12px;
  right: 14px;
  color: #ffffff;
  font-size: clamp(10px, 1vw, 16px);
  font-weight: bold;
  letter-spacing: -0.5px;
  opacity: 0.85;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@media screen and (min-width: 1024px) {
  .video-blocker-short .play-btn {
    width: clamp(48px, 5vw, 68px);
    height: clamp(28px, 5vw, 48px);
  }
}

@media screen and (min-width: 1024px) {
  .video-blocker-short .play-btn {
    width: clamp(48px, 5vw, 68px);
    height: clamp(28px, 5vw, 48px);
  }
}

@media screen and (min-width: 1024px) {
  .video-blocker-short .video-title {
    font-size: clamp(10px, 1vw, 14px);
    padding: 1px;
  }
}

.video-blocker .isShort-text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: blue;
  font-size: 14px;
}

.admin-services-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.admin-services-container a {
  border: 2px solid #000000;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 5px 15px;
  border-radius: 50px;
  color: black;
  font-size: 24px;
}
.admin-services-container a:hover {
  color: #f13900;
}

.video-blocker-actions-container {
  position: absolute;
  left: 0;
  bottom: 0;
}
.video-blocker-actions-container a {
  color: rgb(29, 221, 247);
  margin-left: 5px;
}
.video-blocker-actions-container button {
  background-color: red;
  padding: 3px 8px;
  margin-left: 20px;
  color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
}

.cookie-icon-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: pointer;
  z-index: 99;
}

.cookie-banner {
  background-color: black;
  width: 300px;
  padding: 20px;
  height: 380px;
  position: fixed;
  bottom: 35px;
  right: 55px;
  transition: transform 0s;
  transform-origin: 100% 100%;
  z-index: 10;
  border-radius: 30px 30px 0 30px;
  border: 3px solid #f13900;
  box-shadow: 0 0 30px #f13900;
}
@media screen and (max-width: 376px) {
  .cookie-banner {
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 30px;
  }
}
.cookie-banner-hidden {
  transition: 0.3s;
  transform: scale(0);
}
.cookie-banner .cookie-banner-text {
  color: #fff;
}
.cookie-banner .cookie-banner-text a {
  font-weight: bold;
  color: #fff;
}
.cookie-banner .cookie-banner-text-title {
  font-size: 18px;
  font-weight: 700;
}

.cookie-btns-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
}

.cookie-action-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 30px;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid black;
  border-radius: 50px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.cookie-action-btn:hover {
  background-color: #000000;
  color: #f13900;
}

@media screen and (min-width: 1024px) {
  .about-person-cards-mobile {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .about .about-desc {
    margin-bottom: 0px;
  }
  .about .cards-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 1024px) {
  .about .cards-list {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .about .cards-list .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60vw;
    height: clamp(196px, 50vw, 400px);
    min-width: 150px;
    min-height: 180px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 414px) {
  .about .cards-list .card-container {
    width: 80vw;
    height: 60vw;
  }
}
@media screen and (max-width: 1024px) {
  .about .cards-list .card-container button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }
  .about .cards-list .card-container button .card-flipper {
    height: 100%;
    perspective: 1000px;
    position: relative;
  }
  .about .cards-list .card-container button .card-front {
    backface-visibility: hidden;
    left: 0px;
    position: absolute;
    top: 0px;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: 1s;
    z-index: 2;
    background-color: black;
    border: 3px solid #ffffff;
    border-radius: 30px;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
  }
  .about .cards-list .card-container button .card-front figure {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .about .cards-list .card-container button .card-front figure figcaption {
    font-size: clamp(16px, 5vw, 32px);
    color: #fff;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
  }
  .about .cards-list .card-container button .card-front img {
    width: clamp(140px, 30vw, 250px);
    height: clamp(140px, 30vw, 250px);
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    -o-object-position: top;
       object-position: top;
  }
  .about .cards-list .card-container button .card-back {
    backface-visibility: hidden;
    left: 0px;
    position: relative;
    top: 0px;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: 1s;
    z-index: 2;
    height: 100%;
    border: 3px solid #ffffff;
    border-radius: 30px;
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100%;
    width: 100%;
  }
  .about .cards-list .card-container button .card-back ul.person-job-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
  }
  .about .cards-list .card-container button .card-back ul.person-job-list li {
    font-size: clamp(18px, 5vw, 26px);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  .about .cards-list .card-container button.card-btn-on .card-front {
    transform: rotateY(-180deg);
    position: relative;
  }
  .about .cards-list .card-container button.card-btn-on .card-back {
    transform: rotateY(0deg);
    position: absolute;
    z-index: 1;
  }
}
.privacy {
  color: #fff;
}
.privacy a {
  color: #f13900;
}
.privacy .bold {
  font-weight: bold;
}
.privacy .lang-btns-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.privacy .lang-btn {
  border: 1px solid #fff;
  padding: 12px 15px;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;
}
.privacy .lang-btn-primary {
  background-color: #f13900;
  color: #fff;
}

.admin-gallery-add-desc .add-desc-images-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.admin-gallery-add-desc .add-desc-images-container img {
  max-width: 200px;
}
.admin-gallery-add-desc form {
  max-width: 500px;
  margin: 50px auto;
}
.admin-gallery-add-desc form textarea {
  max-width: 500px;
  min-height: 200px;
  padding: 10px;
}

.admin-gallery-add-desc-btn {
  background-color: #000000;
  color: #fff;
  padding: 10px;
}

.image-desc-container {
  max-width: 500px;
  min-height: 15%;
  padding: 8px 12px;
}
.image-desc-container p {
  color: #fff;
  background-color: #000000;
  font-size: 14px;
  z-index: 101;
  position: relative;
}
.image-desc-container-no-desc {
  min-height: 0;
}

.gallery-images:has(.image-desc-container) .show-gallery-on img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.3s;
  height: 70vh;
}

.gallery-images:has(.image-desc-container-no-desc) .show-gallery-on img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100vh;
}
.gallery-images:has(.image-desc-container-no-desc) .image-desc-container-no-desc {
  padding: 0;
}

.admin-dev button {
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 15px;
  margin: auto;
}

::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=app.css.map */